# Tells pnpm that jose 4.15.9 is a known, safe exception
trust-policy-exclude=jose@4.15.9

# Disable trust policy
strict-store-pkg-content-check=false

# Accept all packages for now
# node-linker=hoisted
# public-hoist-pattern=*
# shamefully-hoist=true
# shamefully-preserve-root-dependencies=true
